<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 card p-3 ">
       <div class="enquire d-flex justify-content-center">
        <p class="p- px-4" style="background-color: brown;">ENQUIRE NOW 
        
      
        </p>
       </div>
            <form method="post"  action="/userinsert"  >
                <div class="mb-2">
                  <label  class="form-label"></label>
                  <input type="text" name="name" placeholder="Your Name" class="form-control">
                </div>

                <div class="mb-2">
                  <label  class="form-label"></label>
                  <input type="email"  name="email" placeholder="Email Id" class="form-control" >
                </div>

                <div class="mb-2">
                    <label  class="form-label"></label>
                    <input type="number"  name="number" placeholder="Mobile No." class="form-control" >
                  </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo molestiae 
                 vero fugit iste tempora labore consectetur repudiandae eligendi eveniet.</p>
               <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-small btn-primary">Submit</button>
               </div>
              </form>

             
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>

